# Render.com configuration file
services:
  - type: web
    name: datasette
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8001
    healthCheckPath: /
